# Dependencies
node_modules/
frontend/node_modules/

# Production/Build
dist/
frontend/dist/
frontend/dist-ssr/

# Python Cache and environments
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE / Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
